.container_big_card {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 20px;

  img {
    width: 100%;
    border-radius: 5px;
  }

  p {
    color: grey;
    text-align: justify;
  }
}